body {
  margin: 0;
  font-family: 'Otomanopee One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:cadetblue;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.country-input {
  text-align: center;
}

.country-input label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
.country-input input {
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 20%;
}

.filter-error {
  text-align: center;
}
